emacs/.config/emacs/straight/build
emacs/.config/emacs/straight/repos
emacs/.config/emacs/straight
emacs/.config/emacs/eln-cache/30.1-29f8b34d
emacs/.config/emacs/straight
emacs/.config/emacs/straight
